.main {
  background-color: #fafafa;
  padding-top: 20px;

  align-items: flex-start;
}

.feed {
  background-color: white;
  width: 470px;
  margin-right: 30px;

  border-radius: 8px;
  border: 0.5px solid lightgray;
  font-size: 13px;

  padding-bottom: 20px;
  margin-bottom: 20px;
}

.account {
  width: 320px;
  margin-top: 10px;
}

.account-content {
  width: 100%;
}

.account-content > li {
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;
}

.account-content > li > p {
  margin-left: 20px;
  margin-right: auto;

  align-items: flex-start;
}

.account-content > li > a {
  color: skyblue;
  font-size: 13px;
}

.account-content > li > p > span:first-child {
  font-weight: bold;
  color: black;
}

.account-content > li > p > span:last-child {
  color: gray;
}

.img-wrap {
  border-radius: 45%;
  overflow: hidden;
  border: 0.5px solid #f2f2f2;
  display: flex;
}

li.suggestion > span {
  color: gray;
}

li.suggestion > a {
  color: black;
}

.about {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about > a {
  color: lightgray;
  font-size: 11px;
  margin-right: 2px;
}

.name {
  color: lightgray;
  font-size: 11px;

  margin-right: auto;
}

.profile {
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.profile > p {
  margin-left: 18px;
  margin-right: auto;
}

.profile > p > span:first-child {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: auto;
}

.imgs > div > img {
  width: 100%;
}

.feed-icons {
  width: 97%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.feed-icons > img {
  margin-right: 1px;
  margin-left: 11px;
  cursor: pointer;
}

.feed-icons > img:last-child {
  margin-left: auto;
}

.likes {
  width: 95%;
  margin-right: auto;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comments {
  width: 92%;
  margin-top: 5px;
}

.comments > span.title {
  font-weight: bold;
}

.comments > span.hashtag {
  color: darkblue;
}

.count {
  margin-right: auto;
  margin-left: 20px;

  color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  font-size: 10px;
  margin-left: 20px;
  margin-right: auto;
  color: lightgray;
}

.swiper {
  width: 470px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background-color: white;
}
